{% extends '::base.html.twig' %}

{% block title %}
Proposition de modification de l'épisode n°{episode.episodeNumber}
{% endblock %}

{% block body -%}

<div class="container addSerieForm">
     <h2>Formulaire de modification d'un épisode</h2>
        <p> Complète ce formulaire et vos modifications seront prises en compte et mises en ligne très prochainement par notre équipe! </p>

    {{ form(edit_form) }}

    <ul class="record_actions">
    	<li>
    	   <a href="{{ path('serie_showSeason', { 'name': serie.name,'seasonNumber': season.seasonNumber }) }}">
    	       RETOUR
    	   </a>
    	</li>
    </ul>
 </div>
{% endblock %}
