{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container">
        

            <div class="row">
                <div class="col-lg-4 category">
                    <h1>LES GENRES</h1>
                    <span> Vous êtes </span> <span class="keyWord"> fan </span> <span> de Séries? Vous vous intéressez à un genre en particulier? </span> <span class="keyWord"> Cliquez </span> <span> dessus pour découvir toutes les séries liées à ce genre! </span>
                </div>

            {% for category in categories %}
                <div class="col-lg-4">
                    <div class="{{category.name}}"><a href="{{ path('serie_show', { 'id': category.id }) }}">{{ category.name }}</a> </div>
                </div>
            {% endfor %}

            </div> 

           
                <a href="{{ path('serie_new') }}">
                    Create a new entry
                </a>
           
    </div>
        {% endblock %}
