{% extends '::base.html.twig' %}

{% block body -%}


<form method="POST">
	<legend>Ajout Série</legend>
	<div>
		{{form_widget(form)}}
		{{form_rest(form)}}
	</div>
	
	 <div>
		 <div>
		 <a href="{{ path('serie_showCategories') }}" class="btn btn-lg btn-danger pull-right">Annuler</a>
		 <input type="submit" value="Ajouter" class="btn btn-lg btn-primary"/>
		 </div>
	 </div>
 </form>

{% endblock %}
