#menu .accueil:hover{ background-color: #48b9c7;}
#menu .series:hover{ background-color: #fdb515;}
#menu .forum:hover{ background-color: #ee3124;}
#menu .profil:hover{ background-color: #59bd73;}
#menu .admin:hover{ background-color: #48b9c7;}

#menu{
	background-color: #686868;
	height: 52px;	
}

#menu a{
	color:white;
	font-weight: bold;
	font-size: 15px;
}

#menu li{
	width:215px;
}

.connexion{
	width:145px;
	height: 36px;
	background-color: #ee3124;
	border: none;

}

.connexion a{
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

.deconnexion{
	width:145px;
	height: 36px;
	background-color: #ee3124;
	border: none;

}
.deconnexion a{
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}


.connexion a:hover{text-decoration: none;}

html{
	font-family: 'Open Sans', sans-serif;
}

button a{
	font-family: 'Open Sans', sans-serif;
}

.login, .inscription, .mesInfos, .changeInfos, .changePassword{
	background-color: white;
	margin-left:20px;
	margin-right:20px;
	border-left: solid 2px #48b9c7; 
}

.login .btn, .inscription .btn, .mesInfos .btn, .changeInfos .btn, .changePassword .btn{
	background-color: #48b9c7;
	border:none;
}

.login h2, .inscription h2, .mesInfos h2, .changeInfos h2, .changePassword h2{
	color: #48b9c7 ;
	font-weight: bold;
	border-bottom: solid 1px #CDD1D0;

}

.login h4, .inscription h4, .mesInfos h4, .changeInfos h4, .changePassword h4{
	color: #686868;
	font-weight: bold;
}

#forgotPassword{
	color: #fdb515;
}

.menuInfos{
	background-image: url('/YATVDB/web/img/backgroundMenu.jpg');
	padding-top:40px;
	padding-bottom:40px;
}

.menuInfos a{
	color:white;
	font-size: 17px
}

.notifButton{
	background-color: #fdb515;
	width:160px;
	height: 36px;
	border: none;
	color:white;
	font-weight: bold;
	text-transform: uppercase;
}

.notifButton .badge{
	color: #fdb515;
	background-color: white;
}

.Comédie, .Dramatique, .Action, .Aventure, .Science-fiction, .Historique, .Famille, .Thriller
{
	font-size: 50px;
	height: 200px;
	margin-top: 20px;
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	cursor: pointer;

}

.category{
	background-image: url('/YATVDB/web/img/textureBlanc.jpg');
	height: 200px;
	margin-top: 20px;
	text-align: center;
	margin-left:15px;
	margin-right: 15px;
	width: 360px;
}

.invitSerie{
	background-color: #fdb515;
	height: 520px;
	margin-top: 95px;
	text-align: center;
	margin-left:15px;
	margin-right: 15px;
	width: 360px;
	padding: 20px;
}

.invitSerie h1 {
	color: white;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	font-family: 'Anton', sans-serif;
	line-height:200px;
	font-size: 60px;
}

.category h1 {
	color: #fdb515;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	font-family: 'Anton', sans-serif;
}

.category span, .invitSerie span{
	text-align: justify;
	font-family: 'Anton', sans-serif;
	font-size:18px;
	color: #686868;

}


.category .keyWord {
	font-family: 'Anton', sans-serif;
	font-size:25px;
	color: #48b9c7;
	text-transform: uppercase;
}



.invitSerie .keyWord {
	font-family: 'Anton', sans-serif;
	font-size:25px;
	color: #ee3124;
	text-transform: uppercase;
}

.Dramatique{background-color: #59bd73;}
.Action{background-color: #48b9c7;}
.Aventure{background-color: #fdb515;}
.Science-fiction{background-color: #ee3124;}
.Historique{background-color: #ee3124;}
.Comédie{background-color: #686868;}
.Famille{background-color: #59bd73;}
.Thriller{background-color: #686868;}

.Dramatique:hover{background-color: silver;}
.Action:hover{background-color: silver;}
.Aventure:hover{background-color: silver;}
.Science-fiction:hover{background-color: silver;}
.Historique:hover{background-color: silver;}
.Comédie:hover{background-color: silver;}
.Famille:hover{background-color: silver;}
.Thriller:hover{background-color: silver;}

.Comédie a:hover, .Dramatique a:hover, .Action a:hover, .Aventure a:hover, .Science-fiction a:hover, .Historique a:hover, .Animation a:hover, .Famille a:hover, .Thriller a:hover
{
	text-decoration: none;
}
.Comédie a, .Dramatique a, .Action a, .Aventure a, .Science-fiction a, .Historique a, .Animation a, .Famille a, .Thriller a
{
	color: white;
	line-height:200px;
}

.serieList h2{
	font-family: 'Anton', sans-serif;
	font-size:40px;
	color: #fdb515;
	text-transform: uppercase;
	text-align: center;
}

.favoris {background-color: #ee3124;}
.delete {background-color: #59bd73;}

.favoris, .delete {
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;

}