#menu .accueil:hover{ background-color: #48b9c7;}
#menu .series:hover{ background-color: #fdb515;}
#menu .forum:hover{ background-color: #ee3124;}
#menu .profil:hover{ background-color: #59bd73;}
#menu .admin:hover{ background-color: #48b9c7;}

#menu{
	background-color: #686868;
	height: 52px;
}

#menu a{
	color:white;
	font-weight: bold;
	font-size: 15px;
}

#menu li{
	width:215px;
}

.connexion{
	width:145px;
	height: 36px;
	background-color: #ee3124;
	border: none;

}

.connexion a{
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}


.connexion a:hover{text-decoration: none;}

html{
	font-family: 'Open Sans', sans-serif;
}

button a{
	font-family: 'Open Sans', sans-serif;
}

.login{
	background-color: white;
	margin-left:20px;
	margin-right:20px;
	border-left: solid 2px #48b9c7; 
}

.login .btn{
	background-color: #48b9c7;
	border:none;
}

.login h2{
	color: #48b9c7 ;
	font-weight: bold;
	border-bottom: solid 1px #CDD1D0;

}

.login h4{
	color: #686868;
	font-weight: bold;
}

#forgotPassword{
	color: #fdb515;
}