{% extends '::base.html.twig' %}

{% block body %}


<form method="POST">
	<legend>Ajout Saison à la série {{serie.name}}</legend>
	<div>
		{{form_widget(form)}}
		{{form_rest(form)}}

	</div>
	<div>
		 <a href="{{ path('serie_detail', {'name':serie.name}) }}" class="btn btn-lg btn-danger pull-right">Annuler</a>
		 <input type="submit" value="Ajouter" class="btn btn-lg btn-primary"/>
	</div>

 </form>

{% endblock %}
